node_modules
.env
public/hot
public/storage
storage/*.key
vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
storage
composer.lock
php/admin-module-php/public/EmpMonitor/screenshots/
logger
Test.zip
php_reseller/
php_whitelabel
/php_whitelabel
.history
documentation
dist
.DS_Store
desktop-v3
php/app/Modules/User/Views/Setting/productivity_ranking_old.blade.php
php/app/Modules/User/Views/example.blade.php
php/check.html
php/public/assets/js/incJSFile/ProductivityRanking_old.js
php_new_version.zip
php/public/assets/css/conceptold.css
dev.env
live.env
.ruby-version
nodejs.7z
php_new_version.7z
test.js